.popper-container {
  padding-bottom: var(--space-1);
  padding-top: var(--space-1);
  z-index: 1001;
}

.popper-container.placement-top {
  transform-origin: bottom center;
}

.popper-container.placement-bottom {
  transform-origin: top center;
}

.overlay-container {
  background-color: var(--component-menu-bg);
  border-color: var(--component-menu-border);
  border-radius: var(--component-menu-radius);
  border-style: solid;
  border-width: var(--border-width-hairline);
  overflow: hidden;
}
