.item {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  justify-content: space-between;
  line-height: 22px;
  list-style: none;
  padding: 8px 6px;

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.variant {
  &_primary {
    background-color: var(--palette-white);

    &:hover {
      background-color: var(--palette-primary-2);
    }

    &:active {
      background-color: var(--palette-primary-2);
    }

    &:focus,
    &:focus-within {
      background-color: var(--palette-primary-2);
    }
  }
}

.disabled {
  background-color: var(--palette-white);
  color: var(--palette-bg-2);
  cursor: not-allowed;
  pointer-events: none;
}
