.root {
  align-items: center;
  background-color: var(--palette-brand-default-1);
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--palette-white);
  display: flex;
  flex-flow: row wrap;
  font-size: 12px;
  height: 20px;
  min-width: 20px;
  padding: 0 4px;
  place-content: center center;
  position: absolute;
  user-select: none;
  z-index: 1;

  &_direction_right {
    right: 0;
    top: 0;
    transform: scale(1) translate(60%, -50%);
  }

  &_direction_left {
    left: 0;
    top: 0;
    transform: scale(1) translate(-60%, -50%);
  }

  &_invisible {
    transform: scale(0) translate(50%, -50%);
  }
}
