.root {
  overflow-y: hidden;
}

.container {
  margin-bottom: -30px;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding-bottom: 30px;
  transform: translateZ(0);
  transform: translateZ(0);
}
