.root {
  align-items: center;
  border: 1px solid;
  border-radius: 1.125rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  height: 36px;
  justify-content: center;
  line-height: 36px;
  overflow: hidden;
  padding: 0 12px;
  text-overflow: ellipsis;
  transition:
    background-color 0.15s linear,
    border-color 0.15s linear,
    color 0.15s linear;
  white-space: nowrap;
  width: fit-content;

  &_icon {
    border-radius: 50%;
    width: 36px;

    &.size_xs {
      width: 29px;
    }

    &.size_s {
      width: 32px;
    }

    &.size_m {
      width: 36px;
    }

    &.size_l {
      width: 42px;
    }
  }

  &_fullWidth {
    width: 100%;
  }
}

.icon {
  display: flex;
}

.size {
  &_xs {
    font-size: 12px;
    height: 29px;
    line-height: 29px;
  }

  &_s {
    font-size: 13px;
    height: 32px;
    line-height: 32px;
  }

  &_m {
    font-size: 15px;
    height: 36px;
    line-height: 36px;
  }

  &_l {
    border-radius: 1.5rem;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
  }
}

button.variant {
  &_primary {
    background-color: var(--component-button-primary-bg);
    border-color: var(--component-button-primary-border);
    color: var(--component-button-primary-text);

    &:hover {
      background-color: var(--component-button-primary-bg-hover);
      border-color: var(--component-button-primary-border-hover);
      color: var(--component-button-primary-text-hover);
    }

    &:active {
      background-color: var(--component-button-primary-bg-pressed);
      border-color: var(--component-button-primary-border-pressed);
      color: var(--component-button-primary-text-pressed);
    }
  }

  &_secondary {
    background-color: var(--component-button-secondary-bg);
    border-color: var(--component-button-secondary-border);
    color: var(--component-button-secondary-text);

    &:hover {
      background-color: var(--component-button-secondary-bg-hover);
      border-color: var(--component-button-secondary-border-hover);
      color: var(--component-button-secondary-text-hover);
    }

    &:active {
      background-color: var(--component-button-secondary-bg-pressed);
      border-color: var(--component-button-secondary-border-pressed);
      color: var(--component-button-secondary-text-pressed);
    }
  }

  &_pseudo {
    background-color: var(--component-button-pseudo-bg);
    border-color: var(--component-button-pseudo-border);
    color: var(--component-button-pseudo-text);

    &:hover {
      background-color: var(--component-button-pseudo-bg-hover);
      border-color: var(--component-button-pseudo-border-hover);
      color: var(--component-button-pseudo-text-hover);
    }

    &:active {
      background-color: var(--component-button-pseudo-bg-pressed);
      border-color: var(--component-button-pseudo-border-pressed);
      color: var(--component-button-pseudo-text-pressed);
    }
  }

  &_outline {
    background-color: var(--component-button-outline-bg);
    border-color: var(--component-button-outline-border);
    color: var(--component-button-outline-text);

    &:hover {
      background-color: var(--component-button-outline-bg-hover);
      border-color: var(--component-button-outline-border-hover);
      color: var(--component-button-outline-text-hover);
    }

    &:active {
      background-color: var(--component-button-outline-bg-pressed);
      border-color: var(--component-button-outline-border-pressed);
      color: var(--component-button-outline-text-pressed);
    }
  }

  &_clear {
    background-color: var(--component-button-clear-bg);
    border-color: var(--component-button-clear-border);
    color: var(--component-button-clear-text);

    &:hover {
      background-color: var(--component-button-clear-bg-hover);
      border-color: var(--component-button-clear-border-hover);
      color: var(--component-button-clear-text-hover);
    }

    &:active {
      background-color: var(--component-button-clear-bg-pressed);
      border-color: var(--component-button-clear-border-pressed);
      color: var(--component-button-clear-text-pressed);
    }
  }

  &_alert {
    background-color: var(--component-button-alert-bg);
    border-color: var(--component-button-alert-border);
    color: var(--component-button-alert-text);

    &:hover {
      background-color: var(--component-button-alert-bg-hover);
      border-color: var(--component-button-alert-border-hover);
      color: var(--component-button-alert-text-hover);
    }

    &:active {
      background-color: var(--component-button-alert-bg-pressed);
      border-color: var(--component-button-alert-border-pressed);
      color: var(--component-button-alert-text-pressed);
    }
  }

  &_success {
    background-color: var(--component-button-success-bg);
    border-color: var(--component-button-success-border);
    color: var(--component-button-success-text);

    &:hover {
      background-color: var(--component-button-success-bg-hover);
      border-color: var(--component-button-success-border-hover);
      color: var(--component-button-success-text-hover);
    }

    &:active {
      background-color: var(--component-button-success-bg-pressed);
      border-color: var(--component-button-success-border-pressed);
      color: var(--component-button-success-text-pressed);
    }
  }

  &_primary_disabled,
  &_secondary_disabled,
  &_pseudo_disabled,
  &_outline_disabled,
  &_clear_disabled,
  &_alert_disabled,
  &_success_disabled {
    background-color: var(--component-button-bg-disabled);
    border-color: var(--component-button-border-disabled);
    color: var(--component-button-text-disabled);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
