.root {
    color: var(--palette-black);
    padding: 0 12px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 8px;
    flex-shrink: 0;
    border: 1px solid;
    font-style: normal;
    font-weight: 400;
    height: 36px;
    font-size: 15px;
    line-height: 36px;
    transition: transform 0.1s ease-out;
    color: 0.15s linear;
    transform: scale(1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: fit-content;
    border-radius: var(--button-border-radius);
}

.icon {
    display: flex;
}

.size {
    &_xs {
        height: 29px;
        font-size: 12px;
        line-height: 29px;
    }
  
    &_s {
        height: 32px;
        font-size: 13px;
        line-height: 32px;
    }
  
    &_m {
        height: 36px;
        font-size: 15px;
        line-height: 36px;
    }
  
    &_l {
        height: 42px;
        font-size: 18px;
        line-height: 42px;
    }
}

.variant {
    &_primary {
        color: var(--button-primary-color);
        background-color: var(--button-primary-background-color);
        border-color: var(--button-primary-border-color);

        &:hover {
            color: var(--button-primary-color-hovered);
            background-color: var(--button-primary-background-color-hovered);
            border-color: var(--button-primary-border-color-hovered);
        }
    
        &:active {
            color: var(--button-primary-color-active);
            background-color: var(--button-primary-background-color-active);
            border-color: var(--button-primary-border-color-active);
        }
    
    }

    &_secondary {
        color: var(--button-secondary-color);
        background-color: var(--button-secondary-background-color);
        border-color: var(--button-secondary-border-color);

        &:hover {
            color: var(--button-secondary-color-hovered);
            background-color: var(--button-secondary-background-color-hovered);
            border-color: var(--button-secondary-border-color-hovered);
        }
    
        &:active {
            color: var(--button-secondary-color-active);
            background-color: var(--button-secondary-background-color-active);
            border-color: var(--button-secondary-border-color-active);
        }

    }

    &_pseudo {
        color: var(--button-pseudo-color);
        background-color: var(--button-pseudo-background-color);
        border-color: var(--button-pseudo-border-color);

        &:hover {
            color: var(--button-pseudo-color-hovered);
            background-color: var(--button-pseudo-background-color-hovered);
            border-color: var(--button-pseudo-border-color-hovered);
        }
    
        &:active {
            color: var(--button-pseudo-color-active);
            background-color: var(--button-pseudo-background-color-active);
            border-color: var(--button-pseudo-border-color-active);
        }
    
    }
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: var(--button-primary-color-disabled);
    background-color: var(--button-primary-background-color-disabled);
    border-color: var(--button-primary-border-color-disabled);
}