.root {
  cursor: pointer;

  &_auto {
    height: auto;
    min-height: var(--component-input-height-m);
  }
}

.icon {
  &_isOpen {
    transform: rotate(180deg);
  }
}

.full-width {
  width: 100%;
}

.base-input {
  background: transparent;
  border: none;
  display: flex;
  flex: 1;
  margin: var(--component-input-content-margin-block) 0;

  ::placeholder {
    color: var(--component-input-placeholder);
  }
}

.base-input-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.base-input-flex {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--space-1);
}

.placeholder {
  color: var(--component-input-placeholder);
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}
