.textarea {
  background: transparent;
  border: none;
  flex: 1;
  font: inherit;
  outline: none;
  overflow: auto;
  overflow: hidden;
  padding: 7px 0;
  resize: none;
  text-overflow: unset;
  text-overflow: ellipsis;

  &::placeholder {
    color: var(--palette-bg-3);
  }
}
