.textarea {
  resize: none;
  font: inherit;

  overflow: auto;
  text-overflow: unset;

  padding: 7px 0;
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;

  &::placeholder {
    color: var(--palette-bg-3);
  }
}