.label {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
}

.text {
  color: var(--component-control-text);
  flex: 1 1 auto;
  line-height: 18px;
  margin-inline-start: 8px;
}

.icon {
  background-color: var(--component-control-bg);
  block-size: 16px;
  border: solid 1px var(--component-control-border);
  border-radius: 100%;
  box-sizing: border-box;
  display: block;
  flex-shrink: 0;
  inline-size: 16px;
  margin-block-start: 1px;
  position: relative;
  transition:
    border-color 0.16s ease,
    box-shadow 0.16s ease;
}

.container {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  padding: 3px 0;

  &_disabled {
    cursor: inherit;
  }

  &_error {
    & .text {
      color: var(--component-control-text-error);
    }

    & .icon {
      border-color: var(--component-control-border-error);
    }
  }
}

.input {
  block-size: 1px;
  border: 0;
  clip-path: inset(50%);
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;

  &_checked + .icon {
    background-color: var(--component-control-bg);
    border: 4px solid var(--component-control-border-checked);
  }

  &_disabled + .icon {
    background-color: var(--component-control-bg-disabled);
    border-color: var(--component-control-border-disabled);
    border-radius: 50%;

    &::after {
      background-color: transparent;
      border-radius: 50%;
      content: "";
      display: block;
      inset: 0;
      margin: -1px;
      position: absolute;
    }
  }

  &:not(&_disabled, &_error) {
    &:hover + .icon {
      border-color: var(--component-control-border-hover);
    }

    &:focus + .icon {
      border-color: var(--component-control-border-focus);
      box-shadow: 0 0 0 2px var(--component-control-focus-ring);
    }

    &:active + .icon {
      background-color: var(--component-control-bg);
      border-color: var(--component-control-border-focus);
      box-shadow: 0 0 0 2px var(--component-control-focus-ring);
    }
  }

  &:not(&_disabled, &_error) &_checked {
    &:hover + .icon {
      border-color: var(--component-control-border-hover);
    }

    &:active + .icon {
      background-color: var(--component-control-bg);
      border: 4px solid var(--component-control-border-checked);
    }
  }

  &_checked:disabled + .icon {
    &::after {
      margin: -4px;
    }
  }
}

.note {
  color: var(--component-control-helper);
  margin-block-start: 4px;
  padding-inline-start: 24px;
}
