.label {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
}

.text {
  color: var(--component-control-text);
  flex: 1 1 auto;
  line-height: var(--component-control-line-height);
  margin-inline-start: var(--space-2);
}

.icon {
  background-color: var(--component-control-bg);
  block-size: var(--component-control-size);
  border: solid var(--border-width-hairline) var(--component-control-border);
  border-radius: var(--radius-full);
  box-sizing: border-box;
  display: block;
  flex-shrink: 0;
  inline-size: var(--component-control-size);
  margin-block-start: var(--component-control-offset);
  position: relative;
  transition:
    border-color 0.16s ease,
    box-shadow 0.16s ease;
}

.container {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  padding: var(--space-1) 0;

  &_disabled {
    cursor: inherit;
  }

  &_error {
    & .text {
      color: var(--component-control-text-error);
    }

    & .icon {
      border-color: var(--component-control-border-error);
    }
  }
}

.input {
  block-size: var(--border-width-hairline);
  border: 0;
  clip-path: inset(50%);
  inline-size: var(--border-width-hairline);
  margin: calc(var(--border-width-hairline) * -1);
  overflow: hidden;
  padding: 0;
  position: absolute;

  &_checked + .icon {
    background-color: var(--component-control-bg);
    border: var(--component-control-checked-border-width) solid
      var(--component-control-border-checked);
  }

  &_disabled + .icon {
    background-color: var(--component-control-bg-disabled);
    border-color: var(--component-control-border-disabled);
    border-radius: var(--radius-full);

    &::after {
      background-color: transparent;
      border-radius: var(--radius-full);
      content: "";
      display: block;
      inset: 0;
      margin: calc(var(--border-width-hairline) * -1);
      position: absolute;
    }
  }

  &:not(&_disabled, &_error) {
    &:hover + .icon {
      border-color: var(--component-control-border-hover);
    }

    &:focus + .icon {
      border-color: var(--component-control-border-focus);
      box-shadow: 0 0 0 var(--focus-ring-width)
        var(--component-control-focus-ring);
    }

    &:active + .icon {
      background-color: var(--component-control-bg);
      border-color: var(--component-control-border-focus);
      box-shadow: 0 0 0 var(--focus-ring-width)
        var(--component-control-focus-ring);
    }
  }

  &:not(&_disabled, &_error) &_checked {
    &:hover + .icon {
      border-color: var(--component-control-border-hover);
    }

    &:active + .icon {
      background-color: var(--component-control-bg);
      border: var(--component-control-checked-border-width) solid
        var(--component-control-border-checked);
    }
  }

  &_checked:disabled + .icon {
    &::after {
      margin: calc(var(--space-1) * -1);
    }
  }
}

.note {
  color: var(--component-control-helper);
  margin-block-start: var(--space-1);
  padding-inline-start: var(--space-6);
}
