.label {
  display: inline-block;
  vertical-align: baseline;
}

.text {
  flex: 1 1 auto;
  line-height: 18px;
  margin-inline-start: 8px;
}

.icon {
  background-color: var(--palette-white);
  block-size: 16px;
  border: solid 1px var(--palette-bg-3);
  border-radius: 100%;
  box-sizing: border-box;
  display: block;
  flex-shrink: 0;
  inline-size: 16px;
  margin-block-start: 1px;
  position: relative;
  transition:
    border-color 0.16s ease,
    box-shadow 0.16s ease;
}

.container {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  padding: 3px 0;

  &_disabled {
    cursor: inherit;
  }

  &_error {
    & .text {
      color: var(--palette-alert);
    }

    & .icon {
      border-color: var(--palette-alert);
      box-shadow: 0 0 0 2px var(--palette-tretiary-2);
    }
  }
}

.input {
  block-size: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;

  &:not(&_disabled, &_error) {
    &:hover + .icon {
      border-color: var(--inputradio-primary-background-color-hovered);
    }

    &:focus + .icon {
      box-shadow: 0 0 0 2px var(--inputradio-primary-box-shadow-focused);
    }

    &:active + .icon {
      background-color: var(--inputradio-primary-background-color-focused);
      border-color: var(--inputradio-primary-border-color-focused);
      box-shadow: 0 0 0 2px var(--inputradio-primary-box-shadow-focused);
    }
  }

  &:not(&_disabled, &_error) &_checked {
    &:hover + .icon {
      border-color: var(--inputradio-primary-background-color-hovered);
    }

    &:active + .icon {
      background-color: var(--palette-white);
      border: 4px solid var(--inputradio-primary-background-color-checked);
    }
  }

  &_checked + .icon {
    background-color: var(--palette-white);
    border: 4px solid var(--inputradio-primary-background-color-checked);
  }

  &_disabled + .icon {
    border-radius: 50%;

    &::after {
      background-color: rgb(246 246 246 / 80%);
      border-radius: 50%;
      content: "";
      display: block;
      inset: 0;
      margin: -1px;
      position: absolute;
    }
  }

  &_checked:disabled + .icon {
    &::after {
      margin: -4px;
    }
  }
}

.note {
  color: var(--palette-bg-5);
  margin-block-start: 4px;
  padding-inline-start: 24px;
}
