.root {
  display: flex;
  flex-wrap: wrap;
}

@supports (display: grid) {
  .root {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
  }

  .root > * {
    margin: 0;
  }
}
