.root {
  display: flex;
  flex-wrap: wrap;
}

@supports (display: grid) {
  .root {
    display: grid;
    gap: var(--space-2);
    grid-auto-rows: minmax(var(--component-grid-auto-row-min), auto);
  }

  .root > * {
    margin: 0;
  }
}
