.root {
  background-color: var(--palette-white);
  block-size: 40px;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  min-inline-size: 96px;
  overflow: hidden;
  position: relative;

  &_fullWidth {
    inline-size: 100%;
  }
}

.control {
  align-items: center;
  block-size: 38px;
  display: flex;
  gap: 4px;
  justify-content: space-between;

  &_fullWidth {
    inline-size: 100%;
  }
}

.value {
  font-size: 18px;
  font-weight: 500;
  inline-size: 24px;
  text-align: center;
  user-select: none;
}
