.root {
    background-color: var(--palette-white);
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    max-block-size: 40px;
    min-block-size: 40px;
    min-inline-size: 96px;
    overflow: hidden;
    position: relative;

    &_fullWidth {
        inline-size: 100%; 
    }
}

.control {
    align-items: center;
    block-size: 38px;
    display: flex;
    justify-content: space-between;
    gap: 4px;

    &_fullWidth {
        inline-size: 100%; 
    }
}


.value {
    font-weight: 500;
    font-size: 18px;
    inline-size: 24px;
    user-select: none;
    text-align: center;
}