.root {
  background-color: var(--component-counter-bg);
  block-size: var(--component-counter-block-size);
  border-radius: var(--component-counter-radius);
  box-sizing: border-box;
  color: var(--component-counter-text);
  display: inline-block;
  font-size: var(--component-control-font-size);
  min-inline-size: var(--component-counter-min-inline-size);
  overflow: hidden;
  position: relative;

  &_fullWidth {
    inline-size: 100%;
  }
}

.control {
  align-items: center;
  block-size: var(--component-counter-control-block-size);
  display: flex;
  gap: var(--space-1);
  justify-content: space-between;

  &_fullWidth {
    inline-size: 100%;
  }
}

.value {
  font-size: var(--font-size-text-lg);
  font-weight: var(--font-weight-medium, 500);
  inline-size: var(--component-counter-value-inline-size);
  text-align: center;
  user-select: none;
}
