.radio {
  line-height: var(--component-control-size);
  margin-inline-end: var(--space-5);
}

.group {
  display: inline-flex;

  &_wide {
    inline-size: 100%;
  }

  &_column {
    flex-direction: column;

    .radio:not(:last-child) {
      margin-block-end: var(--space-4);
    }
  }

  &_wrapped {
    flex-wrap: wrap;
    /* stylelint-disable-next-line no-descending-specificity */
    .radio {
      inline-size: 100%;
      margin: var(--space-2) auto;

      &:first-child {
        margin-block-start: 0;
      }

      &:last-child {
        margin-block-end: 0;
      }
    }
  }
}
