.root {
  color: var(--palette-common-black);
}

.size {
  &_xs {
    font-size: 12px;
    line-height: 16px;
  }

  &_s {
    font-size: 14px;
    line-height: 18px;
  }

  &_m {
    font-size: 16px;
    line-height: 22px;
  }

  &_l {
    font-size: 18px;
    line-height: 28px;
  }

  &_h1 {
    font-size: 40px;
    line-height: 56px;
  }

  &_h2 {
    font-size: 32px;
    line-height: 40px;
  }

  &_h3 {
    font-size: 24px;
    line-height: 32px;
  }

  &_h4 {
    font-size: 20px;
    line-height: 28px;
  }

  &_h5 {
    font-size: 16px;
    line-height: 24px;
  }

  &_h6 {
    font-size: 12px;
    line-height: 16px;
  }
}

.fontWeight {
  &_normal {
    font-weight: 400;
  }
  
  &_medium {
    font-weight: 500;
  }
  
  &_bold {
    font-weight: 700;
  }
}

.variant {
  &_alert {
    color: var(--typography-alert);
  }
  
  &_success {
    color: var(--typography-success);
  }
  
  &_secondary {
    color: var(--typography-secondary);
  }
}