.root {
  cursor: pointer;
}

.icon {
  &_isOpen {
    transform: rotate(180deg);
  }
}

.form-field {
  &_fullWidth {
    width: 100%;
  }
}

.base-input {
  background: transparent;
  border: none;
  flex: 1;
  margin: 7px 0;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;

  ::placeholder {
    color: var(--palette-bg-2);
  }
}

.placeholder {
  color: var(--input-primary-plaseholder-color);
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}
