.root {
  cursor: pointer;
}

.icon {
  &_isOpen {
    transform: rotate(180deg);
  }
}

.full-width {
  width: 100%;
}

.base-input {
  background: transparent;
  border: none;
  display: inline-grid;
  flex: 1;
  margin: var(--component-input-content-margin-block) 0;

  ::placeholder {
    color: var(--component-input-placeholder);
  }

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.placeholder {
  color: var(--component-input-placeholder);
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}
