.base-input {
  background: transparent;
  border: none;
  flex: 1;
  margin: 7px 0;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;

  ::placeholder {
    color: var(--palette-bg-2);
  }
}
