.base-input {
  background: transparent;
  border: none;
  flex: 1;
  margin: var(--component-input-content-margin-block) 0;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

  &::placeholder {
    color: var(--component-input-placeholder);
  }
}
