.rect {
  animation: skeleton-loading 1.5s ease-in-out infinite;
  background-color: var(--palette-bg-2);

  @keyframes skeleton-loading {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.4;
    }

    100% {
      opacity: 1;
    }
  }
}

.text {
  animation: skeleton-loading 1.5s ease-in-out infinite;
  background-color: var(--palette-bg-2);
  border-radius: 6px;
  height: 12px;

  @keyframes skeleton-loading {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.4;
    }

    100% {
      opacity: 1;
    }
  }
}
