.rect {
  animation: skeleton-loading 1.5s ease-in-out infinite;
  background-color: var(--component-skeleton-bg);

  @keyframes skeleton-loading {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.4;
    }

    100% {
      opacity: 1;
    }
  }
}

.text {
  animation: skeleton-loading 1.5s ease-in-out infinite;
  background-color: var(--component-skeleton-bg);
  border-radius: 6px;
  height: 12px;

  @keyframes skeleton-loading {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.4;
    }

    100% {
      opacity: 1;
    }
  }
}
