.root {
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  gap: 1rem;
  min-width: 360px;
  overflow: hidden;
  position: relative;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

.month-control {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 48px;
  outline: 0;
  padding: 0 16px;
  position: absolute;
  top: 0;
  width: 80px;

  &[disabled] {
    cursor: default;
  }

  &[disabled] .month-control-prev-arrow {
    opacity: 0.3;
  }

  &[disabled] .month-control-next-arrow {
    opacity: 0.3;
  }
}

.month-control-prev {
  border-left-width: 16px;
  left: 0;
  text-align: left;

  &::before {
    background: linear-gradient(
      to right,
      rgb(255 255 255 / 100%) 0%,
      rgb(255 255 255 / 0%) 100%
    );
    border: 0 solid #fff;
    border-left-width: 26px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
}

.month-control-next {
  border-right-width: 16px;
  right: 0;
  text-align: right;

  &::before {
    background: linear-gradient(
      to left,
      rgb(255 255 255 / 100%) 0%,
      rgb(255 255 255 / 0%) 100%
    );
    border: 0 solid #fff;
    border-right-width: 26px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
  }
}

.month-control-prev-arrow {
  color: var(--palette-black);
  transform: rotate(180deg);
}

.month-control-next-arrow {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--palette-black);
  transform: rotate(360deg);
}

.months {
  height: 284px;
  position: relative;
  transition: transform 0.3s ease;

  & > div {
    position: absolute;
    top: 0;
  }
}
