.root {
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  gap: var(--space-4);
  min-height: var(--component-calendar-min-block-size);
  min-width: var(--component-calendar-min-inline-size);
  overflow: hidden;
  position: relative;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

.month-control-prev-arrow {
  color: var(--color-icon-primary);
  transform: rotate(180deg);
}

.month-control-next-arrow {
  color: var(--color-icon-primary);
  position: absolute;
  right: var(--space-4);
  top: var(--space-4);
  transform: rotate(360deg);
}

.month-control {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: var(--component-calendar-control-block-size);
  outline: 0;
  padding: 0 var(--space-4);
  position: absolute;
  top: 0;
  width: var(--component-calendar-control-inline-size);

  &[disabled] {
    cursor: default;
  }

  &[disabled] .month-control-prev-arrow {
    color: var(--color-text-disabled);
    opacity: 1;
  }

  &[disabled] .month-control-next-arrow {
    color: var(--color-text-disabled);
    opacity: 1;
  }
}

.month-control-prev {
  border-left-width: var(--space-4);
  left: 0;
  text-align: left;

  &::before {
    background: linear-gradient(
      to right,
      var(--color-bg-surface) 0%,
      transparent 100%
    );
    border: 0 solid var(--color-bg-surface);
    border-left-width: var(--space-6);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: var(--component-calendar-fade-inline-size);
  }
}

.month-control-next {
  border-right-width: var(--space-4);
  right: 0;
  text-align: right;

  &::before {
    background: linear-gradient(
      to left,
      var(--color-bg-surface) 0%,
      transparent 100%
    );
    border: 0 solid var(--color-bg-surface);
    border-right-width: var(--space-6);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--component-calendar-fade-inline-size);
  }
}

.months {
  min-height: var(--component-calendar-months-min-block-size);
  position: relative;
  transition: transform 0.3s ease;

  & > div {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
