.wrapper {
  position: relative;
}

.slider {
  overflow: hidden;
  width: 100%;
}

.content-wrapper {
  display: inline-block;
  transition: transform 0.3s ease;
}

.shadow {
  background: linear-gradient(
    to right,
    rgb(255 255 255 / 0%) 0%,
    rgb(255 255 255 / 100%) 100%
  );
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
