.input-container {
  border-radius: 6px;
  border: 1px solid var(--palette-bg-3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  box-sizing: border-box;
}

.input-field {
  height: 100%;
  padding: 4px;
  text-align: center;
  font-size: 1em;
  outline: none;
  border: none;
  background: transparent;
  box-sizing: border-box;
}

.input-time {
  border-bottom-right-radius: 0;
  border-right: 1px solid var(--palette-bg-3);
  border-top-right-radius: 0;
  width: 89px;
}

.input-time:focus-within {
  border: 1px solid var(--palette-primary-3);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 0 2px var(--palette-primary-2);
  z-index: 3;
}

.select {
  height: 100%;
  box-sizing: border-box;
}