.native-scroll-inner {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  transform: translate3d(0, 0, 0);
}

.inner {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.item {
  flex-grow: 1;
  padding: 0 4px;

  & > button {
    display: block;
    padding: 0 8px;
    width: 100%;
  }

  &:first-child {
    padding-left: 16px;
  }

  &:last-child {
    padding-right: 16px;
  }
}
