.root {
  box-sizing: border-box;
  color: var(--color-text-primary);
  padding: 0 var(--space-4);
  width: 100%;
}

.month-name {
  padding: var(--space-2) 0 var(--space-6);
  text-align: center;
}

.table {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.week {
  display: grid;
  gap: var(--space-1);
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  margin: var(--space-1) 0;
  padding: 0;
}

.day {
  display: block;
  min-height: var(--component-calendar-day-size);
  position: relative;
  text-align: center;
}

.legend {
  display: grid;
  gap: var(--space-1);
  grid-template-columns: repeat(7, 1fr);
  margin: var(--space-1) 0;
  padding: 0;
  text-align: center;
}

.selected-range-day {
  display: block;
  height: var(--component-calendar-day-size);
  position: relative;
  text-align: center;

  &::before {
    background: var(--component-menu-item-bg-hover);
    content: "";
    display: block;
    height: 100%;
    left: -50%;
    position: absolute;
    top: 0;
    width: 200%;
    z-index: 0;
  }

  &:first-child::before {
    left: 0;
    width: 150%;
  }

  &:last-child::before {
    left: auto;
    right: 0;
    width: 150%;
  }
}

.selected-day {
  z-index: 2;

  &::before {
    display: block;
    left: auto;
    right: auto;
    width: 100%;
  }

  &:first-child::before {
    display: block;
    left: 50%;
    width: 100%;
  }

  &:last-child::before {
    display: block;
    right: 50%;
    width: 100%;
  }

  & + &,
  & + &:hover {
    z-index: 4 !important;
  }
}

.no-selection::before {
  display: none;
}

.start-of-selection::before {
  left: 50%;
  right: auto;
  width: 50%;
}

.end-of-selection::before {
  left: auto;
  right: 50%;
  width: 50%;
}

.first-child {
  &:first-child::before {
    display: none;
  }
}

.last-child {
  &:last-child::before {
    display: none;
  }
}

.day-inner {
  border: 0;
  border-radius: var(--component-calendar-day-radius);
  display: inline-block;
  height: var(--component-calendar-day-size);
  max-width: var(--component-calendar-day-size);
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  transition: background 0.3s ease;
  width: 100%;
  z-index: 1;
}

.day-inner-active {
  cursor: pointer;

  &:hover {
    background: var(--component-menu-item-bg-hover);
  }
}

.day-focused {
  outline: var(--focus-ring-width) solid var(--component-input-focus-ring);
  outline-offset: var(--focus-ring-width);
}
