.root {
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
}

.month-name {
  padding: 7px 0 25px;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  justify-content: center;
  padding: 0;
  margin: 2px 0;
}

.day {
  display: block;
  min-height: 32px;
  position: relative;
  text-align: center;
  width: 32px;
}

.legend {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  text-align: center;
  padding: 0;
  margin: 2px 0;
}

.selected-range-day {
  display: block;
  height: 32px;
  position: relative;
  text-align: center;
  width: 32px;
  z-index: 0;

  &:hover {
    z-index: 1;
  }

  &::before {
    background: #f5f5f5;
    content: "";
    display: block;
    height: 100%;
    left: -50%;
    position: absolute;
    top: 0;
    width: 200%;
  }

  &:first-child::before {
    left: 0;
    width: 150%;
  }

  &:last-child::before {
    left: auto;
    right: 0;
    width: 150%;
  }
}

.selected-day {
  z-index: 2;

  &::before {
    display: block;
    left: auto;
    right: auto;
    width: 90%;
  }

  &:first-child::before {
    display: block;
    left: 50%;
    width: 90%;
  }

  &:last-child::before {
    display: block;
    right: 50%;
    width: 90%;
  }

  & + &,
  & + &:hover {
    z-index: 4 !important;
  }
}

.no-selection::before {
  display: none;
}

.start-of-selection::before {
  left: 50%;
  right: auto;
}

.end-of-selection::before {
  left: auto;
  right: 50%;
}

.first-child {
  &:first-child::before {
    display: none;
  }
}

.last-child {
  &:last-child::before {
    display: none;
  }
}

.day-inner {
  border: 0;
  border-radius: 6px;
  display: inline-block;
  height: 32px;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  transition: background 0.3s ease;
  width: 32px;
}

.day-inner-active {
  cursor: pointer;

  &:hover {
    background: var(--palette-bg-2);
  }
}
