.root {
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.title-wrapper {
  padding-right: 20px;
  align-items: center;
  border-bottom: 1px solid var(--palette-bg-2);
  display: flex;
  justify-content: space-between;
}

.close-wrapper {
  box-sizing: border-box;
  padding: 0 20px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal-overlay {
  background-color: rgb(0 0 0 / 25%);
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-wrapper {
  background-color: var(--palette-white);
  display: flex;
  flex-direction: column;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &_mobile {
    height: 100%;
    width: 100%;
  }

  &_desktop {
    border: solid 1px var(--palette-bg-2);
    border-radius: 8px;
    max-height: calc(100vh - 100px);
    max-width: calc(100vw - 100px);
    min-width: 515px;
  }
}
