.root {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}

.label {
  cursor: pointer;
  display: inline-flex;
  line-height: 18px;
  position: relative;
}

.text {
  font-size: 16px;
  margin-block-start: -1px;
  margin-inline-start: 8px;
}

.fake-checkbox {
  background-color: var(--palette-white);
  block-size: 16px;
  border: 1px solid var(--palette-bg-3);
  border-radius: 4px;
  box-sizing: border-box;
  direction: ltr;
  display: block;
  flex-shrink: 0;
  inline-size: 16px;
  position: relative;
  transition:
    background 0.16s ease,
    border-color 0.16s ease,
    box-shadow 0.16s ease;
}

.checked {
  background-color: var(--checkbox-bg-checked);
  border: 0;

  &::after {
    block-size: 8px;
    border-block-end: 2px solid var(--palette-white);
    border-inline-end: 2px solid var(--palette-white);
    box-sizing: content-box;
    content: "";
    display: block;
    inline-size: 4px;
    inset-block-start: 45%;
    inset-inline-start: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.variant {
  &_primary {
    &_error {
      border-color: var(--palette-alert);
      box-shadow: 0 0 0 2px var(--palette-alert);
    }

    &_checked {
      &::after {
        border-block-end: 2px solid var(--palette-white);
        border-inline-end: 2px solid var(--palette-white);
      }
    }
  }
}

.control {
  inset-inline-start: -9999px;
  position: absolute;

  &:disabled + .fake-checkbox::after {
    border-block-end: 2px solid var(--palette-bg-4);
    border-inline-end: 2px solid var(--palette-bg-4);
  }

  &:hover:not(:disabled) + .fake-checkbox {
    border-color: var(--palette-bg-3);
  }

  &_variant {
    &_primary {
      &:focus:not(:disabled) + .fake-checkbox {
        box-shadow: 0 0 0 2px var(--checkbox-box-shadow-focused);
      }

      &:hover:not(:disabled) + .fake-checkbox {
        background-color: var(--checkbox-bg-hovered);
      }

      &:active:not(:disabled) + .fake-checkbox {
        background-color: var(--checkbox-bg-active);
        border-color: var(--checkbox-border-color-active);
        box-shadow: var(--checkbox-box-shadow-active);
      }

      &:disabled + .fake-checkbox {
        background-color: var(--checkbox-bg-disabled);
        z-index: 1;
      }
    }
  }
}
