.root {
  align-items: center;
  background-color: var(--status-neutral-bg);
  border-radius: 6rem;
  box-sizing: border-box;
  display: inline-flex;
  gap: 0.5rem;
  inline-size: fit-content;
  line-height: 1.5rem;
  overflow: hidden;
  padding: 0 0.5rem;
  vertical-align: middle;
  white-space: nowrap;

  &::before {
    background-color: var(--status-neutral);
    block-size: 0.4rem;
    border-radius: 100%;
    content: "";
    inline-size: 0.4rem;
  }

  &_success {
    background-color: var(--status-success-bg);

    &::before {
      background-color: var(--status-success);
    }
  }

  &_info {
    background-color: var(--status-info-bg);

    &::before {
      background-color: var(--status-info);
    }
  }

  &_failure {
    background-color: var(--status-failure-bg);

    &::before {
      background-color: var(--status-failure);
    }
  }

  &_warning {
    background-color: var(--status-warning-bg);

    &::before {
      background-color: var(--status-warning);
    }
  }
}
