.chip {
  cursor: pointer;
  display: inline-block;
}

.inner {
  box-sizing: border-box;
  display: flex;
  font: inherit;
  min-width: 0;
  place-items: stretch flex-start;
  transition-duration: 0.3s;
  transition-property: background, box-shadow, transform;
  transition-timing-function: ease;

  &_active {
    background: var(--palette-bg-1);
  }

  &_inactive {
    background: var(--palette-white);
    box-shadow: rgb(193 193 193 / 40%) 0 5px 20px;

    &:hover {
      box-shadow: rgb(193 193 193 / 40%) 0 5px 20px;
      transform: translateY(-2px);
    }

    &:active {
      background: rgb(0 0 0 / 2%);
      box-shadow: rgb(193 193 193 / 40%) 0 1px 3px;
      outline: 0;
      transition-duration: 0.15s;
    }

    @media (hover: none) {
      &:hover {
        box-shadow: rgb(193 193 193 / 40%) 0 5px 20px;
        transform: translateY(0);
      }

      &:active {
        box-shadow: rgb(193 193 193 / 40%) 0 1px 3px;
      }
    }
  }

  &[data-size="s"] {
    border-radius: 32px;
    font-size: 0.875rem;
    line-height: 2.2;
  }

  &[data-size="m"] {
    border-radius: 36px;
    font-size: 1rem;
    line-height: 2.3;
  }

  &[data-size="l"] {
    border-radius: 44px;
    font-size: 1.15rem;
    line-height: 2.4;
  }
}

.content {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  max-width: 200px;
  padding: 0 1rem;
  user-select: none;
}

.content-inner {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-right {
  align-items: center;
  color: var(--palette-bg-5);
  display: flex;
  justify-content: center;
  margin-left: -11px;
  padding-right: 0.8rem;

  &:hover {
    color: var(--palette-black);
  }
}
