.avatar {
  border-radius: 100%;
  cursor: pointer;
  box-sizing: border-box;
  transition: border-color 0.15s ease;
  object-fit: cover;
}

.avatar_bordered {
  background-color: var(--palette-white);
  border: 3px solid var(--palette-bg-2);
  padding: 3px;

  &:hover {
    border-color: var(--palette-bg-4);
  }
}
