.avatar {
  border-radius: var(--radius-full);
  box-sizing: border-box;
  display: block;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: border-color 0.15s ease;
  width: 100%;
}

.avatar-bordered {
  background-color: var(--component-avatar-border-bg);
  border: var(--component-avatar-border-width) solid
    var(--component-avatar-border);
  padding: var(--component-avatar-border-padding);

  &:hover {
    border-color: var(--component-avatar-border-hover);
  }
}

.size-s,
.size-m,
.size-l,
.size-xl,
.size-xxl,
.size-xxxl {
  aspect-ratio: 1 / 1;
}

.size-s {
  height: var(--component-avatar-size-s);
  width: var(--component-avatar-size-s);
}

.size-m {
  height: var(--component-avatar-size-m);
  width: var(--component-avatar-size-m);
}

.size-l {
  height: var(--component-avatar-size-l);
  width: var(--component-avatar-size-l);
}

.size-xl {
  height: var(--component-avatar-size-xl);
  width: var(--component-avatar-size-xl);
}

.size-xxl {
  height: var(--component-avatar-size-xxl);
  width: var(--component-avatar-size-xxl);
}

.size-xxxl {
  height: var(--component-avatar-size-xxxl);
  width: var(--component-avatar-size-xxxl);
}

.text-s {
  font-size: var(--component-avatar-font-size-s);
  font-weight: 500;
}

.text-m {
  font-size: var(--component-avatar-font-size-m);
  font-weight: 500;
}

.text-l {
  font-size: var(--component-avatar-font-size-l);
  font-weight: 400;
}

.text-xl {
  font-size: var(--component-avatar-font-size-xl);
  font-weight: 400;
}

.text-xxl {
  font-size: var(--component-avatar-font-size-xxl);
  font-weight: 400;
}

.text-xxxl {
  font-size: var(--component-avatar-font-size-xxxl);
  font-weight: 400;
}

.avatar-initials {
  align-items: center;
  background-color: var(--component-avatar-initials-bg);
  border-radius: var(--radius-full);
  display: inline-flex;
  justify-content: center;
}

.initials-text {
  color: var(--component-avatar-initials-text);
  text-transform: uppercase;
}

.avatar-stub {
  align-items: center;
  background-color: var(--component-avatar-initials-bg);
  border-radius: var(--radius-full);
  box-sizing: border-box;
  color: var(--component-avatar-initials-text);
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
}

.avatar-stub-icon {
  display: block;
  height: 100%;
  width: 100%;
}

.avatar-wrapper {
  display: inline-block;
  position: relative;
}

.avatar-loader::before {
  animation: spin 1s linear infinite;
  border: var(--component-avatar-loader-border-width) solid transparent;
  border-radius: var(--radius-full);
  border-top-color: var(--component-avatar-loader);
  box-sizing: border-box;
  content: "";
  height: calc(100% + var(--component-avatar-loader-size-offset));
  left: calc(var(--component-avatar-loader-offset) * -1);
  position: absolute;
  top: calc(var(--component-avatar-loader-offset) * -1);
  width: calc(100% + var(--component-avatar-loader-size-offset));
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
