.root {
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    object-fit: cover;
    text-indent: -100rem;
    visibility: visible;
    width: 100%;

    :-moz-broken {
      opacity: 0;
    }

    &:focus-visible {
      outline: var(--focus-ring-width) solid var(--color-focus-ring);
      outline-offset: var(--focus-ring-width);
    }
  }
}
