.root {
  color: var(--component-accordion-text);
  overflow: hidden;
  padding: var(--space-3);
}

.content {
  block-size: 0;
  overflow: hidden;
  transition: block-size 0.2s ease-in-out;
}

.button {
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  gap: var(--space-2);
  inline-size: 100%;
  outline: none;
  padding: 0;

  & svg {
    flex: none;
  }
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header {
  margin-block-end: var(--space-3);
}

.chevron {
  transition: transform 0.2s ease-in-out;

  &_open {
    transform: rotate(180deg);
  }
}

.line {
  background-color: var(--component-accordion-line);
  block-size: var(--border-width-hairline);
  flex: 1;
  margin-inline-start: var(--space-2);
}
