.calendar-popup {
  padding: var(--space-3);
}

.trigger {
  display: inline-block;
}

.input {
  width: var(--component-date-picker-calendar-max-width);
}

.range-input {
  display: inline-flex;
  width: calc(var(--component-date-picker-calendar-max-width) * 2);
}

.range-control-start,
.range-control-end {
  flex: 1 1 var(--space-0);
  min-width: var(--space-0);
}

.range-control-start {
  border-bottom-right-radius: var(--radius-none);
  border-top-right-radius: var(--radius-none);
}

.range-control-end {
  border-bottom-left-radius: var(--radius-none);
  border-top-left-radius: var(--radius-none);
  margin-left: calc(-1 * var(--border-width-hairline));
}

.range-control-start:focus-within,
.range-control-end:focus-within {
  z-index: 1;
}

.calendar-icon {
  cursor: pointer;
  height: var(--space-6);
  margin-right: var(--space-2);
  width: var(--space-6);
}
