.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  box-sizing: border-box;

  border: 1px solid var(--palette-bg-3);
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-left: none;
}

.input-field {
  width: 100%;
  height: 100%;
  padding: 4px;
  text-align: center;

  background: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.input-date {
  cursor: pointer;
  flex: 3;
  position: relative;
  border-top: 1px solid var(--palette-bg-3);
  border-right: 1px solid var(--palette-bg-3);
  border-bottom: 1px solid var(--palette-bg-3);
}

.input-date:focus-within {
  border-color: var(--palette-primary-3);
  box-shadow: 0 0 0 2px var(--palette-primary-2);
}

.input-date:focus-within::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: var(--palette-primary-3);
}

.calendar {
  max-width: 250px;
}

.calendar-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}